<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header>
        <h1>Cat Pictures</h1>
    </header>
    <main>
        <div class="gallery">
            <% data.forEach(cat => { %> 
                <img id=<%= cat.id %> width="500" height="500" src=<%= cat.src %> alt=<%= cat.name %> />
            <% }) %>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Cat Lovers</p>
    </footer>
</body>
</html>